html, 
body,iframe  {
	margin:0;
	padding:0;
    height: 100%;
	font-family : Arial;
	background:#000;
}

header{
	background:#000;
}
header .logo{
 
	padding : 0 20px;
	display:inline-block;
	float:left;
}

.green{
	color:#00CC00;
}

.red{
	color:#CC0000;
}

.grey{
	color :#808080;
}

.container{
	width:100%;
	display:block;
}

.container-left{
	width:25%;
	max-width:460px;
}

.container-left iframe{
	min-height:768px;
	z-index : -1;
	
	overflow-x:hidden;
}

.container-right{
	float:right;
	width:75%;
}

.align-left{
	width:40%;
	display:inline-block;
	
}

.align-right{
	width:55%;
	display:inline-block;
}

.clearfix{
	clear:both;
}

.market_price{
	font-size:26px;
	font-weight: bold;
}

.market_price_net{
	font-size:18px;
}

.market_info tr> td{
	font-size:12px;
}
.market_info .offset-left-30{
	padding-left:20px;
}

#marketheader{
	width:100%;
	display:inline-block;
	color:#FFF;
	
}
.container-right .graph{
	display:inline-block;
	min-width : 930px;
}
.container-right .graph iframe{
	
	display:inline-block;
	min-width : 930px;
	min-height:500px;
}

.upper .notifications{
	display:inline-block;
	max-width:500px;
}

.upper .notifications iframe{
	
	min-width:400px;
	min-height:500px;
	
}

.lower .recordlist{
	width:1000px;
	height:350px;
	display:inline-block;
}

.lower .controlpanel{
	width:400px;
	height:350px;
	display:inline-block;
}

header .connection{
	float:right;
	color:#FFF;
	padding:20px;
	font-size:12px;
}

@media only screen and (max-device-width: 480px){
   .container-right{
       width:100%;
    }
	
	.container-left{
       width:100%;
    }
	
	
	
	.logo{
		margin-left: -20px;
		display: inline-block;
		float:left;
		
	}
	
	header{
		background:#000;
	}
}

.charthref{
	color:#0F0; 
	margin-bottom:10px;
	text-decoration:underline;
}

.error{
	margin : 0 auto;
	padding : 0;
	color : white;
	font-weight : bold;
	font-size : 20px;
}

#last_updated{
	font-size:12px;
}
@media screen and (min-width: 767px) {
	iframe {
		float: left;
		max-width: 650px;
	}
}

@media screen and (max-width: 767px) {
	header .connection{
		display:none;
	}
	
	.offset-left-30{
		padding-top:15px;
	}
}

h1{color:#FFFFFF; font-weight:bold; font-size:16px; padding:10px; float:left;}
.adminpanel {	
	width:25%;
	min-width:460px;
	height: 60px; z-index:9999;}
#cp_refresh_mkt_data{ padding:20px; margin:10px; cursor:pointer;}