html, 
body,iframe  {
	margin:0;
	padding:0;
    height: 100%;
	font-family : Arial;
	background:#000;
}

.align-left{
	float:left;
}

.align-right{
	float:right;
}
header{
	background:#000;
	height:120px;
}
header .logo{
	line-height:90px; 
	padding : 0 20px;
	display:inline-block;
}

header .logo img{
	padding-bottom: 30px;
}

.green{
	color:#00CC00;
}

.red{
	color:#CC0000;
}

.grey{
	color :#808080;
}

.container{
	width:100%;
	display:block;
}

.container-left{
	float:left;
	width:25%;
	max-width:460px;
}

.container-left iframe{
	min-height:800px;
	z-index : -1;
	
	overflow-x:hidden;
}

.container-right{
	float:right;
	width:75%;
}

.align-left{
	float:left;
	width:40%;
	
}

.align-right{
	float:right;
	width:60%;
}

.clearfix{
	clear:both;
}

.market_price{
	font-size:26px;
	font-weight: bold;
}

.market_price_net{
	font-size:18px;
}

.market_info tr> td{
	font-size:16px;
}
.market_info .offset-left-30{
	padding-left:5px;
}

#marketheader{
	padding-top:20px;
	width:500px;
	display:inline-block;
	color:#FFF;
	
}
.container-right .graph{
	display:inline-block;
	min-width : 930px;
}
.container-right .graph iframe{
	
	display:inline-block;
	min-width : 930px;
	min-height:500px;
}

.upper .notifications{
	display:inline-block;
	max-width:500px;
}

.upper .notifications iframe{
	
	min-width:400px;
	min-height:500px;
	
}

.lower .recordlist{
	min-width:1000px;
	width:100%;
	height:350px;
	display:inline-block;
}

.lower .controlpanel{
	width:400px;
	height:350px;
	display:inline-block;
}

header .connection{
	float:right;
	color:#FFF;
	padding:20px;
	font-size:12px;
}

@media only screen and (max-device-width: 480px){
   .container-right{
       width:100%;
    }
	
	.container-left{
       width:100%;
    }
	
	#marketheader{
		width:300px;
		position:absolute;
		left:90px;
	}
	
	.logo{
		top:30px;
		position:absolute;
	}
	
	header{
		background:#000;
		height:120px;
	}
}

.charthref{
	color:#0F0; 
	margin-bottom:10px;
	text-decoration:underline;
}

.error{
	margin : 0 auto;
	padding : 0;
	color : white;
	font-weight : bold;
	font-size : 20px;
}

.last_updated{
	font-size:12px;
}

@media screen and (max-width: 767px) {
	header .connection{
		display:none;
	}
	
	.offset-left-30{
		padding-top:0;
	}
}