<template id="switch-button">
  <div class="switch-button-control">
   
    <div class="switch-button-label">
      <slot></slot>
    </div>
      <div class="switch-button" :class="{ enabled: isEnabled }" @click="toggle">
      <div class="button"></div>
    </div>
  </div>
</template>

<style>


/* For switch-button styling */
.switch-button-control {
  display: flex;
  flex-direction: row;
  align-items: center;
}  

 .switch-button {
    height: 1.6em;
    width: calc( 1.6em* 2);
    border:  2px solid #ECECEC;
    box-shadow: inset 0px 0px 2px 0px
      rgba(0, 0, 0, 0.33);
    border-radius: 1.6em;

    transition: all 0.3s ease-in-out;
    cursor: pointer;
 }

 .switch-button .button {
      height: 1.6em;
      width: 1.6em;
      border:  2px solid #ECECEC;
      border-radius: 1.6em;
      background: #ffffff;
      margin-top:-0.1em;
      transition: all 0.3s ease-in-out;
    }

 .switch-button.enabled {
      background-color: #00cC00;
      box-shadow: none;
 }

  .switch-button.enabled .button {
        background: white;
        
      margin-left:-0.5em;
        transform: translateX(calc(1.6em + (2 *2px)));    
  }

  .switch-button-label {
    margin-left: 10px;
    margin-right: 10px;
}

</style>

<script>
module.exports = {
    template: "#switch-button",
    model: {
        prop: "isEnabled",
        event: "toggle"
    },
    props: {
        isEnabled: Boolean,
        color: {
            type: String,
            required: false,
            default: "#ECECEC"
        }
    },
    methods: {
        toggle: function() {
        this.$emit("toggle", !this.isEnabled);
        }
    }
}

</script>