<template>
<div id="accountlist" class="flex-row flex-wrap w-full text-white p-0 m-0">	 
		<div class="userinfo py-2 px-4"> 
			<span class="w-1/3"> Accounts : </span>
			<span class="w-2/3">
			<select id="acc_list" name="acc_list" class="bg-gray-900 border border-gray-700" v-model="selectedAccount" > 
					<option v-for="account in accountList" :value="account.id" :key="account.id" @change="selectAccount(account.id)">{{account.id}}</option>
			</select> 
			</span>
			<span><input class=" bg-blue-500 text-sm py-1 px-4 rounded-sm" type="button" id="cp_refresh" name="Refresh" value="Refresh"></span>
		</div>
		<div class="account_list p-0 m-0" v-for="account in accountList" :key="account.id"  v-loading="account.loading" element-loading-text="Loading..."
    	element-loading-spinner="el-icon-loading"
    	element-loading-background="rgba(0, 0, 0, 0.8)">
			<div class="parent cursor-pointer hover:bg-gray-700 border-custom py-2 px-4" :class="{active : selectedAccount === account.id}" @click="selectAccount(account.id)">										
				<div class="user">
					<span><input type="checkbox" name="acc_check">{{account.id}}<input type="checkbox" name="acc_sound"><i class="fas fa-volume-up"></i></span>
					<span><el-badge :value="account.trade_count" :max="99" class="item"> Trade Count </el-badge> </span>
				</div>
				<div id="trading">
					<span class="trade_status green">{{account.trade_status}}</span>
					
					<span class="point red">{{account.floating}}</span>
					<span class="balance red">${{account.balance}}</span>
				</div>	
				<div class="expandable"> <a href="#" class="showmore">▼</a> <i class="fas fa-lock"></i> </div>
				<div class="action_bar clickable " style="display: block;">					
					<div class="inline-block leading-relaxed py-2 mr-4">
						<span class="mr-2"> Algo </span><el-switch v-model="account.algo" :disabled="account.viewonly" active-color="#00cC00" inactive-color="#222222"  class="custom-switch" width="45" ></el-switch>
						<span class="mr-2"> Sync </span><el-switch v-model="account.sync" :disabled="account.viewonly" active-color="#00cC00" inactive-color="#222222"  class="custom-switch" width="45" @change="checkedSyncAll()"></el-switch>

					<!--	<switch-button v-model="account.algo" class=" py-3">Algo </switch-button>	 -->
					</div>
					<div class="inline-block  leading-relaxed  py-2">
						<el-input-number v-model="account.ordernum" @change="handleChange" :min="1" :max="9999" size="small" :disabled="account.viewonly"></el-input-number>
						<span class="ml-4"><el-badge :value="account.buyCnt" :hidden="account.buyCnt == 0" :max="99" class="item"><button class="bg-green-500 text-sm py-1 px-4 rounded-sm" :class="{disabled : account.viewonly}" name="Call" value="Call" @click="handleOpenPosition(account, 'call')">Call</button></el-badge></span>
						<span><button class="bg-blue-500 text-sm py-1 px-4 rounded-sm" :class="{disabled : account.viewonly}" name="Settle" value="Settle" @click="handleOpenPosition(account, 'settle')">Settle</button></span>
						<span><el-badge :value="account.sellCnt" :max="99"  :hidden="account.sellCnt == 0" class="item"><button class="bg-red-500 text-sm py-1 px-4 rounded-sm" :class="{disabled : account.viewonly}" name="Put" value="Put" @click="handleOpenPosition(account, 'put')">Put</button></el-badge></span>
					</div>	
				</div>	
				<div class="text-grey-view-only" v-show="account.viewonly === true">(View ONLY)</div>							
			</div>
		</div>
		<div class="cprow">
			<span class="mr-2"> Sync All</span><el-switch v-model="syncAll" active-color="#00cC00" inactive-color="#222222"  class="custom-switch" width="45" @change="setSyncAll()"></el-switch>
			<div class="controlpanel">					
				Sync 
				<input type="submit" id="cp_call" class="btn btncall" name="Call" value="Call">				
				<input type="submit" id="cp_settle" class="btn btnsettle" name="Settle" value="Settle">				
				<input type="submit" id="cp_put" class="btn btnput" name="Put" value="Put">							
			</div>
			
		</div>
	</div>
		
</template>
<style scoped>
.custom-switch{

	height:1.6em;
	border: 2px solid #ECECEC;
    box-shadow: inset 0px 0px 2px 0px
      rgba(0, 0, 0, 0.33);
    border-radius: 1.6em;

    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.custom-switch .el-switch__core{
	margin-left: -2.6em;
}

.custom-switch .el-switch__core:after{
	
	  height: 1.6em;
      width: 1.6em;
      border:  2px solid #ECECEC;
      border-radius: 1.6em;
	  margin-top: -0.2em ;
	  margin-left: -0.2em;
      background: #ffffff;
      transition: all 0.3s ease-in-out;  
}

.active{
	background-color : rgb(88, 132, 173);
}

.disabled{
	opacity: 0.5;
}
.text-grey-view-only{
	color:#9b9b9b;
}

.el-input-number .el-input__inner{
	background: #262a31;
	color:#ffffff;
}

.el-input-number__decrease, .el-input-number__increase{
	background : #e1e1e1;
	color: #3c3c3c;
}

.el-input-number__decrease:hover, .el-input-number__increase:hover{
	background : #eef4fa;
}


</style>
<script>

const accountDefault = [
    {
        id: "billyMSATest",
        server : "10.26.0.18",
		port: "5987",
		sync: false,
		algo: true,  
		algo_status:'From  Command ALGO_STATUS executed, /10.26.0.122:60142!',
		ordernum: 1,
		active_order : 0,
		order_stats:0,
        unlock: true,
        trade_status: "Ready",
        position: 0,
		status: 0,
		buyCnt: 0,
		sellCnt : 0,
		productCode: 'MHI',
		floating : 0,
		price_value:10,
		balance:0,
		funds: 12000,
		trade_count: 2,
		viewonly : true,
		loading : false
    },
    {

		id: "billyRKTest",
		server : "10.26.0.18",
		port: "5987",
		sync: false,
		algo: false,  
		algo_status:'From  Command ALGO_STATUS executed, /10.26.0.122:60142!',
		ordernum: 1,
		active_order : 0,
		order_stats:0,
		unlock: true,
        trade_status: "LONG 23579",
        position: 23579,
		status: 1,
		buyCnt: 0,
		sellCnt : 0,
		productCode: 'MHI',
		floating : -22,
		price_value : 10,
		balance : -220,
		funds: 12000,
		trade_count: 6,
		viewonly : false,
		loading : false
    },
    {
		id: "billyFSTest",
		server : "10.26.0.18",
		port: "5987",
		sync: false,
		algo: true,  
		algo_status:'From  Command ALGO_STATUS executed, /10.26.0.122:60142!',
		ordernum: 1,
		active_order : 0,
		order_stats:0,     
		unlock: true,
        trade_status: "SHORT 23861",
        position: 23861,
		status: -1,
		buyCnt: 0,
		sellCnt : 0,
		productCode: 'HSI',
		floating : 60,
		price_value : 50,
		balance : 3000,
		funds: 12000,
		trade_count: 1,
		viewonly : false,
		loading : false
    }
]


module.exports = {
		name : 'accountlist',
		data: function() {
			return {
				   selectedAccount: -1,
				   syncAll : false,
				   accountList : accountDefault
			}
		},
		methods: {
			selectAccount(id){
				this.selectedAccount = id;
			},

			handleOpenPosition(account, action){

				if (account.viewonly)	//no action for viewonly
					return; 

				var data = {
					action : '',
					host: account.host,
					port: account.port,
					userid : account.id,
					value:'',
					sync : account.sync
				}

				switch (action){
					case 'call':
						data.action = "force_open";
						data.value = "LONG";						
						console.log("["+account.id+"] LONG ");
					break;
					case 'put': 
						data.action = "force_settle";
						data.value = "SHORT";		
						console.log("["+account.id+"] PUT");
					break;
					case 'settle': 
						data.action = "force_settle";
						data.value = true;		
						console.log("["+account.id+"] SETTLE");
					break;
				}

			},
			handleChange(){

			},
			refreshStatus(){
				var data = {
					action : 'REFRESH_STATUS',
					host: account.host,
					port: account.port,
					userid : account.id,
					value:'TRUE',
					sync : false
				}

			},
			refreshOrderStats(){

			},
			refreshOrderStatsProc(){

			},
			saveRecordAccount(){

			},
			refreshAccountList(){
					// toDo : refresh algo , active order, remote
			},
			refreshBalanceList(){
				// toDo : refreshBalance
			},
			refreshBalance(){

			},
			refreshActiveOrder(){

			},
			setSyncAll(){
				this.accountList.forEach(account => {
					if (!account.viewonly){
						account.sync = this.syncAll;
					}
				}); 				
			},
			checkedSyncAll(){
			
				var syncAll_checked	= true;				
				this.accountList.forEach(account => {
					if (!account.sync && !account.viewonly){
						syncAll_checked = false;
					}
				});
				this.syncAll = syncAll_checked;
			
			}
		}
}
</script>