<template>
<div class="bg-gray-800 w-screen  h-full">   
    <div class="block lg:hidden xl:hidden w-full m-0 p-0 bg-black h-10 border-b border-gray-900 z-50">
      <div class="logo m-0 w-12 pl-4 pt-2 float-left"><img src="./assets/images/logo.jpg" ></div>
      <div class="w-64 float-right text-right text-white text-sm lg:block xl:block z-50">
         <serverprofile></serverprofile>
      </div>
    </div>
    <header class=" bg-black h-32 text-white flex flex-row p-1 lg:p-2 xl:p-2 w-full font-arial clear-both z-50">
        <div class="logo hidden flex-initial lg:inline-block xl:inline-block w-10 m-0 p-0"><img src="./assets/images/logo.jpg" ></div>
          <marketheader></marketheader>
        <div class="flex flex-grow">
        </div>
        <div class=" w-64 float-right text-right text-sm hidden lg:block xl:block z-50" >
            <serverprofile></serverprofile>
        </div>
    </header> 
    <div class="clear-both  lg:flex  lg:flex-row  xl:flex  xl:flex-row">
      <div class="clear-both lg:w-4/5 xl:w-2/5 lg:float-left xl:float-left">
          <accountlist></accountlist>
      </div>
      
   <!--
      <div class="w-full clear-both lg:float-right xl:float-right z-0 mt-1">
            <div class="w-full h-10">
           
                <span class="text-sm mx-2 text-green-500"><a class="hover:text-teal-100 charthref" :href="investingchart" target="chart_iframe"> Full Chart</a></span>
                <span class="text-sm mx-2 text-green-500"><a class="hover:text-teal-100 charthref" :href="vwapchart"  target="chart_iframe"> Full MSA Chart</a></span>
                <span class="text-sm mx-2 text-green-500"><a class="hover:text-teal-100 charthref" href="tradingPlan.php" rel="noopener noreferrer" target="_blank"> Trading Plan</a></span>
            </div>
            <div class="w-full h-halfscreen">
              <iframe :src="investingchart" frameborder="0" name="chart_iframe"  width="100%" height="100%" class="z-0"></iframe>
            </div>
            <div id="order_list" class="flex flex-grow ">
            </div>
            
      </div>  -->
    

    </div>
  </div>  
</template>
<script>

const investingchart = "https://tvc4.forexpros.com/init.php?family_prefix=tvc4&time=1479947567&domain_ID=55&lang_ID=55&timezone_ID=28&pair_ID=8984&interval=60&refresh=4&session=24x7&client=1&user=200995618&width=830&height=800&init_page=live-charts&m_pids=";
const vwapchart =  "https://chart.altodock.com";   

module.exports = {
		name : 'home',
		data: function() {
			return {
          investingchart : investingchart,
          vwapchart : vwapchart
			}
    },
    components: {
        'serverprofile' : httpVueLoader('./serverprofile.vue'),
        'marketheader' : httpVueLoader('./marketheader.vue'),
        'accountlist' : httpVueLoader('./accountlist.vue')
    }
}
</script>
