<template>
<div id="marketheader" class=" w-1/4 float-left m-0 ml-4  text-sm" >
   <div class="w-1/4  flex flex-row">
	  <div class="float-left flex-initial" >
		<div class="nQ " ><span class="font-bold">{{marketinfo.product}}</span><span class="netQty current pl-1" :class="getNominalTextColor(marketinfo.btsNet)">{{marketinfo.btsStatus}}</span></div>
		
		<div class="current"><span class="market_price font-bold text-2xl leading-5" :class="getNominalTextColor(marketinfo.nominalNet)">{{ parseFloat(marketinfo.nominal).toFixed(1)}}</span>  
		<span class="market_price_net" :class="getNominalTextColor(marketinfo.nominalNet)">{{getNetDisplay(marketinfo.nominalNet)}}</span></div>
	 
		<div id="market_info" class="flex flex-row flex-wrap w-40 py-1">
			<div class="high w-20 leading-4">H <span>{{ parseFloat(marketinfo.high).toFixed(1)}}</span></div> 
			<div class="open  w-20 leading-4" >O <span>{{ parseFloat(marketinfo.open).toFixed(1)}}</span></div>				 
			<div class="low w-20 leading-4" >L <span>{{ parseFloat(marketinfo.low).toFixed(1)}}</span></div>
			<div class="ppThreshold  w-20 leading-4" >T <span>{{ parseFloat(marketinfo.ppThreshold).toFixed(1)}}</span> <b>{{marketinfo.ppThresholdState}}</b></div>
		</div>     
		<div id="last_updated" class="text-xs"><i class="far fa-clock"></i><span class="ml-2">{{marketinfo.lastUpdatedDateTime}}</span></div>              
	  </div>	
	  <div class="text-center float-right w-40 ml-6 ">
		<div class="vwap" ><span class="font-bold">VWAP</span> <span>{{ parseFloat(marketinfo.vwap).toFixed(0)}} {{marketinfo.vwapNet}}</span></div>
		  <input type="hidden" value="23121" name="vwapvalue" class="vwapvalue" />
		  <canvas class="inline-block -mt-4" width=150 height=100 id="vwapgauge"></canvas>        
	  </div>            
  </div>
	<input type="hidden" name="refreshmktstatus" value="ready" />
	<input type="hidden" id="demo" name="demo" value="0"/>
</div>
</template>

<script>
const marketDataDefault = {
						product : "MHI",
						btsStatus : "-2163(163/-2589)",
						btsNet: -2163,
						btsCall : 163,
						btsPut : -2589,
						high : 23900.0,
						low : 23294.0,
						open : 23920.0,
						nominal : 23902.0,
						nominalNet : 10,
						ppThreshold : 23331.0,
						ppThresholdState : 'R',
						vwap : 23922.0,
						vwapNet : -81,
						lastUpdatedDateTime : '2020-03-27 17:42:11'					
					}
module.exports = {
		name : 'marketheader',
		data: function() {			
			return {
					timer : null,
					vwapGauge : null,
					marketinfo : marketDataDefault
			}
		},
		mounted:function(){
		
			console.log("marketheader loaded");
			let vm = this;
			this.timer = setInterval(() =>{
				this.refreshMarketData();
			}, 1000);

			this.vwapGauge = new vwapGauge();

		},
		methods:{
			// get the text display with '+' for indicating positive value as net numeral
			 getNetDisplay(value){
				 return value > 0 ? '+'+value : value;
			 },
			 // get the color text for norminal
			 getNominalTextColor(normainalNet){
				var colorCodeType = 1; // 1 : green up red down ; 2 : green down red up
				return {
					'text-sgreen-400':  colorCodeType == 1 ? normainalNet > 0 : normainalNet < 0,  
					'text-red-700': 	colorCodeType == 1 ? normainalNet < 0 : normainalNet > 0,
					'text-gray-400' : normainalNet == 0
					}
			},
			refreshMarketData(){
			
					console.log(this.marketinfo.nominal);
					this.marketinfo.nominal ++;
					this.marketinfo.nominalNet --;
					
					this.vwapGauge.getData(this.marketinfo);
					this.vwapGauge.show();

			}
		}
}
</script>