<template> 
 <div id="recordform">
 
	<input type="hidden" name="userid" value="<?php echo $g_userid; ?>" />
	<input type="hidden" name="server" value="<?php echo $host; ?>" />
	<input type="hidden" name="port" value="<?php echo $port; ?>" />	
	<input type="hidden" name="market_close" value="-1" />

	<div class="container">
		<div class="title">Record</div>
		<div class="optfilter">
		<ul>
			<li>All</li>
			<li>Working</li>
			<li>Filled</li>
			<li>Cancelled</li>
		</ul>
		</div>
		<div class="recordtable">
			 <table cellpadding="0" cellspacing="0" border="0">
			  <thead>
				<th>Code</th>
				<th>Price</th>

				<th style="width:400px;">Profile</th>
				<th style="width:120px;">Cut Gain</th>
				<th style="width:120px;">Cut Loss</th>
				<th style="width:120px;">Threshold</th>
				<th>Action</th>

			</thead>
			 <tbody>
				 	<tr>
						<td></td>
						<td></td>
						<td> 
						<select name="profile" class="profile_dropdown" data="<?php echo $recordinfo->id; ?>" onchange="changeAction(this)">
							<option value="0,0,0">--default-- (0/0/0)</option>
							<option value="30,30,90" >Profile1 (30/30/90)</option>
						</select>
						<button name="addprofile" class="addprofile" onclick="changeAction(this)">Add</button>
						<button name="delprofile" class="delprofile" onclick="changeAction(this)">Del</button>
						</td>
						<td><input type="text" class="textfield" id="maxprofit_<?php echo $recordinfo->id; ?>" name="maxprofit" value="<?php echo $recordinfo->profitThreshold; ?>" disabled /></td>
						<td><input type="text" class="textfield" id="maxloss_<?php echo $recordinfo->id; ?>"  name="maxLoss" value="<?php echo $recordinfo->lossThreshold; ?>" disabled /></td>
						<td><input type="text" class="textfield" id="trailingStop_<?php echo $recordinfo->id; ?>"  name="trailingStop" value="<?php echo $recordinfo->trailingStopRatio; ?>" disabled /></td>
						<td> Open <button name="edit" class="edit" onclick="changeAction(this)">Edit</button>  <button name="save" class="save" onclick="changeAction(this)">Save</button>  <input type="hidden" name="tradeStatus[]" class="tradeStatus" value="1" /></td>
					</tr>	
			 </tbody>
			 </table>
		
		</div>	
	</div>
</div>
</template>