<template>
    <div>
        <i class="text-2xl fas fa-server p-2 cursor-pointer hover:bg-gray-700"  @mouseover="hoverServerSetting = true"  @mouseleave="hoverServerSetting = false"></i>
        <div class="bg-alphablack w-64 p-6 rounded-md border border-gray-800 align-right" v-show="hoverServerSetting" @mouseover="hoverServerSetting = true"  @mouseout="hoverServerSetting = false">
            <h1 class="text-left align-left"> Server setting </h1>
            <hr class="border my-1" />
            <form method="GET" action="" >
                <div class="py-1"><div class="w-10 inline-block">User</div> <input type="text" name="userid" class="pl-1 usertext w-40  inline-block bg-gray-900 border border-gray-400 rounded-sm" v-model="g_userid" /></div>
                <div class="py-0"><div class="w-10 inline-block">Host</div> <input type="text" name="host" class="pl-1 host w-40  inline-block bg-gray-900 border border-gray-400 rounded-sm"  v-model="host" /></div>
                <div class="py-1"><div class="w-10 inline-block">Port</div> <input type="text" name="port" class="pl-1 port w-40  inline-block bg-gray-900 border border-gray-400 rounded-sm"  v-model="port" /></div>
                <input type="submit" class=" bg-blue-500 text-sm py-1 px-4 rounded-sm" value="Submit" />
            </form>
        </div>
    </div>
</template>
<script>
module.exports = {
		name : 'serverprofile',
		data: function() {
			return {
                hoverServerSetting : false,
                g_userid : g_userid,
                host : host,
                port : port

			}
		}
}
</script>