.font-arial { font-family:'Helvetica', 'Arial', 'sans-serif'} 

.border-custom{
	border-top : 2px solid #888888;
	border-left : 2px solid #555555;
	border-bottom : 2px solid #000000;
	border-right : 3px solid #000000;
}

.text-sgreen-400{
  color:#00CC00;
} 
.container{
  margin-top:130px;
}

#overlay{
  position : fixed;
  top:0;
  bottom : 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

.bg-alphablack{
  background-color: rgba(0, 0, 0, 0.5);
}

.h-halfscreen{
  height : 50vh;
}