html, 
body,iframe  {
	margin:0;
	padding:0;
    height: 100%;
	font-family : Arial;
	background:#000;
}

.align-left{
	float:left;
}

.align-right{
	float:right;
}
header{
	background:#000;
	height:90px;
	float:left;
	margin:0;
	padding:0px;
}
header .logo{
	margin:0px;
	line-height:90px; 
	display:inline-block;
	font-size:10px;
	color:#FFF;
	position:absolute;
}


.green{
	color:#00CC00;
}

.red{
	color:#CC0000;
}

.grey{
	color :#808080;
}

.container{
	width:100%;
	display:block;
}


.container-left{
	float:left;
	width:45%;
	min-width:600px;
}

.container-left iframe{
	min-height:400px;
	z-index : -1;
	
	overflow-x:hidden;
}

.container-right{
	float:left;
	width:55%;
	min-width:600px;
}

.account_info{
	width:400px;
	float:left;
	height:400px;
	display:inline-block;
}

.align-left{
	float:left;
	width:40%;
	
}

.align-right{
	float:right;
	width:40%;
}

.clearfix{
	clear:both;
}

.market_price{
	font-size:26px;
	font-weight: bold;
}

.market_price_net{
	font-size:18px;
}

.market_info tr> td{
	font-size:16px;
}
.market_info .offset-left-30{
	padding-left:20px;
}

#marketheader{
	width:500px;
	display:inline-block;
	color:#FFF;
	padding-top:20px;
	position:relative;
	margin-left:80px;
	
}
.vhsiheader{
	padding-top:20px;
	width:500px;
	display:inline-block;
	color:#FFF;
	padding-left:30px;
}


.container-right .graph{
	display:inline-block;
	min-width : 530px;
		float:left;
		height:400px;
}



.container-right .graph iframe{
	
	display:inline-block;
	min-width : 530px;
	min-height:400px;
}

.upper .notifications{
	display:inline-block;
	max-width:400px;
}

.upper .notifications iframe{
	
	min-width:300px;
	min-height:400px;
	
}

.lower .recordlist{
	width:1000px;
	height:400px;
	display:inline-block;
}

.lower .controlpanel{
	width:300px;
	height:350px;
	display:inline-block;
}

header .connection{
	float:right;
	color:#FFF;
	padding:20px;
	font-size:12px;
}


@media only screen and (max-device-width: 480px){
   .container-right{
       width:100%;
    }
	
	.container-left{
		margin-top:40px;
		display:block;
		
	}
	
	.container-left{
       width:100%;
    }
	
	#marketheader{
		width:300px;
		position:absolute;
	}
	
	.logo{
		top:30px;
		position:absolute;
	}
	
	header{
		background:#000;
		height:120px;
	}
	
	.align-right{
		position:absolute;
		width:200px;
		margin-left:120px;
	}
	
	.last_updated{
		margin-top:90px;
	}
	
	.vhsiheader{
		margin-top:110px;
	}
	
}

.charthref{
	color:#0F0; 
	margin-bottom:10px;
	text-decoration:underline;
}

.error{
	margin : 0 auto;
	padding : 0;
	color : white;
	font-weight : bold;
	font-size : 20px;
}

.last_updated{
	font-size:12px;
}

@media screen and (max-width: 767px) {
	header .connection{
		display:none;
	}
	
	.offset-left-30{
		padding-top:15px;
	}
}